@media screen and (min-width:1200px)
{
    h1{
    text-align: center;
    font-family:標楷體;
    font-size:1cm;
    color:#000080
    }
    h2{
    font-family:標楷體;
    font-size:2em;
    color:#093233
    }
    h4{
    text-align: center;
    font-family:標楷體;
    font-size:0.7cm;
    color:#25065f
    }
    h5{
    font-family:標楷體;
    font-size:x-large;
    color:#485361
    }
    h6{
    font-family:標楷體;
    font-size:x-large;
    color:#692455
    }
    table { 
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    font-family:標楷體,sans-serif; 
    font-size:2em; 
    width:auto;
    border-collapse:collapse;
    border:1px solid #000080;
    } 
    td{ 
    border:1px solid #000;
    }
    html {
    height: 100%;
    }
    body{

    background-image:url('https://github.com/hsuan9008/hsuan9008.github.io/blob/main/back.jpeg?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
}
@media screen and (min-width:992px)
{
    h1{
    text-align: center;
    font-family:標楷體;
    font-size:1cm;
    color:#000080
    }
    h2{
    font-family:標楷體;
    font-size:2em;
    color:#093233
    }
    h4{
    text-align: center;
    font-family:標楷體;
    font-size:0.7cm;
    color:#25065f
    }
    h5{
    font-family:標楷體;
    font-size:x-large;
    color:#485361
    }
    h6{
    font-family:標楷體;
    font-size:x-large;
    color:#692455
    }
    table { 
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    font-family:標楷體,sans-serif; 
    font-size:2em; 
    width:auto;
    border-collapse:collapse;
    border:1px solid #000080;
    } 
    td{ 
    border:1px solid #000;
    }
    html {
    height: 100%;
    }
    body{

    background-image:url('https://github.com/hsuan9008/hsuan9008.github.io/blob/main/pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
}
@media screen and (min-width:768px)
{
    h1{
    text-align: center;
    font-family:標楷體;
    font-size:1cm;
    color:#000080
    }
    h2{
    font-family:標楷體;
    font-size:2em;
    color:#093233
    }
    h4{
    text-align: center;
    font-family:標楷體;
    font-size:0.7cm;
    color:#25065f
    }
    h5{
    font-family:標楷體;
    font-size:x-large;
    color:#485361
    }
    h6{
    font-family:標楷體;
    font-size:x-large;
    color:#692455
    }
    table { 
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    font-family:標楷體,sans-serif; 
    font-size:2em; 
    width:auto;
    border-collapse:collapse;
    border:1px solid #000080;
    } 
    td{ 
    border:1px solid #000;
    }
    html {
    height: 100%;
    }
    body{

    background-image:url('https://github.com/hsuan9008/hsuan9008.github.io/blob/main/pexels-anete-lusina-6331086.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
}
@media screen and(min-width:576px)
{
    h1{
    text-align: center;
    font-family:標楷體;
    font-size:1cm;
    color:#000080
    }
    h2{
    font-family:標楷體;
    font-size:2em;
    color:#093233
    }
    h4{
    text-align: center;
    font-family:標楷體;
    font-size:0.7cm;
    color:#25065f
    }
    h5{
    font-family:標楷體;
    font-size:x-large;
    color:#485361
    }
    h6{
    font-family:標楷體;
    font-size:x-large;
    color:#692455
    }
    table { 
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    font-family:標楷體,sans-serif; 
    font-size:2em; 
    width:auto;
    border-collapse:collapse;
    border:1px solid #000080;
    } 
    td{ 
    border:1px solid #000;
    }
    html {
    height: 100%;
    }
    body{

    background-image:url('https://github.com/hsuan9008/hsuan9008.github.io/blob/main/pexels-eberhard-grossgasteiger-2088170.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
}